body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.1;
  background: #272733;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.section-title span {
  color: #43abf0;
}

.section-pretitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  padding-top: 30px;
}

.btn {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  padding: 17px;
  border-radius: 4px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.1) inset;
  color: #fff;
  border: 1px solid #ffffff;
  background-color: #43abf0;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0 0 100px 1px rgba(0, 1, 7, 0.4) inset;
}
.btn.btn-outline {
  color: #2a2b30;
  border: 1px solid #6f6d7b;
  background-color: #fff;
}
.btn.btn-outline:hover {
  box-shadow: 0 0 100px 1px rgba(1, 84, 139, 0.2) inset;
}

.header {
  padding: 30px 0;
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
.logo span {
  color: #43abf0;
}
@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
.menu a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.3s;
}
.menu a:hover {
  color: #43abf0;
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    right: -120%;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s;
  }
}
.menu.open {
  right: 0;
}

.burger {
  display: none;
  width: 35px;
  position: relative;
  z-index: 3;
}
@media (max-width: 992px) {
  .burger {
    display: block;
  }
}

.hero {
  padding: 180px 0;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  /* .hero__wrapper */
  /* .hero__title */
  /* .hero__list */
  /* .hero__inner */
}
@media (max-width: 768px) {
  .hero {
    background-position: 20%;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 768px) {
  .hero__wrapper {
    gap: 40px;
  }
}
.hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 780px;
}
.hero__title span {
  color: #43abf0;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 28px;
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero__list p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}
@media (max-width: 768px) {
  .hero__list p {
    font-size: 15px;
  }
}
.hero__list ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 8px;
}
.hero__list li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}
@media (max-width: 768px) {
  .hero__list li {
    font-size: 15px;
  }
}
.hero__inner {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.hero__inner button {
  max-width: 185px;
  width: 100%;
}
@media (max-width: 480px) {
  .hero__inner {
    gap: 20px;
  }
}

.order {
  padding: 120px 0 150px;
  background-image: url(../img/order-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* .order__wrapper */
  /* .order__dots */
  /* .order__inner */
  /* .order__card */
  /* .order__icon */
  /* .order__form */
}
.order__wrapper {
  margin: 80px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__dots {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 45px;
  display: flex;
}
.order__dots img {
  width: 100%;
  width: 71%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .order__dots {
    display: none;
  }
}
.order__inner {
  display: flex;
  align-items: start;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 992px) {
  .order__inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
.order__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 210px;
  width: 100%;
}
.order__card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.order__icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43abf0;
  border: 5px solid #286690;
  border-radius: 50%;
}
.order__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas: "select input__email input__name" "input__range input__range input__wrapper" ". btn .";
}
@media (max-width: 992px) {
  .order__form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "select input__email" "input__name input__wrapper" "input__range input__range" "btn btn";
  }
}
@media (max-width: 768px) {
  .order__form {
    grid-template-columns: 1fr;
    grid-template-areas: "select" "input__email" "input__name" "input__range" "input__wrapper" "btn";
  }
}
.order__form .select {
  grid-area: select;
  width: 100%;
  padding: 12px 10px;
  color: #000;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
.order__form .input__email {
  grid-area: input__email;
  padding: 12px 10px;
  color: #000;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
.order__form .input__email::-moz-placeholder {
  color: #272733;
}
.order__form .input__email::placeholder {
  color: #272733;
}
.order__form .input__name {
  grid-area: input__name;
  padding: 12px 10px;
  color: #000;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
.order__form .input__name::-moz-placeholder {
  color: #272733;
}
.order__form .input__name::placeholder {
  color: #272733;
}
.order__form .input__range {
  grid-area: input__range;
}
.order__form .input__range-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.order__form .input__range .num {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.order__form .input__range input {
  width: 100%;
}
.order__form .input__wrapper {
  grid-area: input__wrapper;
}
.order__form .btn {
  grid-area: btn;
}

.range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
  border: 1px solid #fff;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 21px;
  width: 21px;
  background-color: #42a9ed;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 3px solid #286690;
}

.range-input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.input__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #fff;
  color: #272733;
}
.input__wrapper .row {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0px;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.footer {
  padding: 30px 0;
  background-color: #3d4050;
  /* .footer__wrapper */
  /* .footer__menu */
  /* .footer__row */
}
.footer__wrapper {
  align-items: center;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
@media (max-width: 992px) {
  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
    place-items: unset;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.footer__wrapper p {
  font-size: 13px;
  font-weight: 400;
  margin-right: auto;
}
@media (max-width: 768px) {
  .footer__wrapper p {
    margin: 0;
    text-align: center;
  }
}
.footer__menu {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 35px;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
}
@media (max-width: 768px) {
  .footer__menu {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer__menu {
    border: none;
    flex-direction: column;
  }
}
.footer__menu a {
  font-size: 13px;
  font-weight: 400;
  color: #c3c3c3;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  transition: color 0.3s;
}
.footer__menu a:hover {
  color: #fff;
}
.footer__row {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 480px) {
  .footer__row {
    flex-direction: column;
  }
}
.footer__row a {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */